name: Generar canal M3U8

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: python generar.py
      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add canal.m3u8
          git commit -m "Actualizar canal"
          git push
